body,
html {
  height: 100%;
  margin: 0;
}

.bgimg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.bgimg h1 {
  color: white;
  font-family: "Covered By Your Grace", Courier, monospace;
  font-size: 7vw;
  padding: 0;
  font-weight: 100;
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, goldenrod, gold, goldenrod);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.bgimg .middle p {
  font-family: "DM Mono";
  font-size: 4vw;
  color: gold;
}
.topleft {
  position: absolute;
  top: 2%;
  left: 2%;
}
.topleft img {
  width: 10%;
  border-radius: 50%;
}
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.frase {
  border: goldenrod 2px solid;
  color: goldenrod;
  font-size: 1.75vw;
  padding: 1vw;
  border-radius: 1vw;
  background-color: rgba(226, 169, 12, 0.2);
}

